# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
ENV/
.venv/

# Environment files
.env
.env.*

# Flask
instance/
.webassets-cache

# OS / IDE
.DS_Store
.vscode/
.idea/

# Logs & temp
*.log
logs/
*.tmp
*.temp
